<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}管理页面{% endblock %}</title>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- 左侧侧边栏 -->
        <div class="col-auto sidebar d-flex flex-column p-0">
            <h5 class="text-center my-3">插件管理</h5>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{{ url_for('file') }}" class="nav-link text-white">
                        <span class="me-2">📁</span> 文件管理
                    </a>
                </li>
                <li>
                    <a class="nav-link text-white" data-bs-toggle="collapse" href="#sysCollapse" role="button" aria-expanded="false"
                       aria-controls="sysCollapse">
                        <span class="me-2">⚙</span> 插件配置
                    </a>
                    <div class="collapse" id="sysCollapse">
                        <ul class="nav flex-column ps-3">
                            <li><a href="{{ url_for('class_reminder') }}" class="nav-link text-white">课前提醒</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 主内容区域 -->
        <div class="col px-0">
            <!-- 顶部导航 / 面包屑 -->
            <div class="header-area d-flex justify-content-between align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{{ url_for('index') }}">首页</a></li>
                        {% block breadcrumbs %}
                        {% endblock %}
                    </ol>
                </nav>
                <div>
                    <span>ECNU-SEI</span>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>
